.action-page {
	.table-wrapper {
		width: 100%;
		overflow-x: auto;
	}

	.table {
		width: 100%;
		border-collapse: collapse;
		min-width: 600px;
		font-size: 14px;

		th,
		td {
			padding: 12px 16px;
			border: 1px solid var(--second-color);
			text-align: left;
			white-space: nowrap;
		}

		th {
			font-weight: 600;
		}

		.center {
			text-align: center;
		}

		.actions {
			display: flex;
			gap: 8px;
		}
	}
}
